# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dart
*.log
*.pid

# Project
pubspec.lock
